.home[data-v-e51f16d6]{max-width:420px;margin:0 auto}.home h2[data-v-e51f16d6]{text-align:center;margin-bottom:var(--space-l)}.home button[data-v-e51f16d6]{margin:var(--space-m) auto 0;display:block}
